@model IEnumerable<HMS.Entity.Models.PatientReg>
if(PatientReg.count>0)
{
<div class="row">
    <div class="col-12">
        <h3>Patient Registration History</h3>
        <hr />
        <table class="table table-light table-bordered table-hover">
            <thead>
                <tr>
                    <th>Patient Id</th>
                    <th>Patient Name</th>
                    <th> Admission Date</th>
                    <th> Age</th>
                    <th>Gender </th>
                    <th> Address</th>
                    <th> Phone Number</th>
                    <th>Blood Group </th>
                    <th> Patient Issue</th>
                    <th> Patient Type</th>
                    <th>Doctor Name </th>
                    <th> Doctor Type</th>
                    <th>Ward Number </th>
                    <th> Bed Number</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>


                @foreach (var patient in Model)
                {

                    <tr>
                        <td>@patient.PatientId</td>
                        <td>@patient.PatientName</td>
                        <td>@patient.AdmissionDate</td>
                        <td>@patient.Age</td>
                        <td>@patient.Gender</td>
                        <td>@patient.Address</td>
                        <td>@patient.PhoneNumber</td>
                        <td>@patient.BloodGroup</td>
                        <td>@patient.PatientIssue</td>
                        <td>@patient.PatientType</td>
                        <td>@patient.DoctorName</td>
                        <td>@patient.DoctorType</td>
                        <td>@patient.WardNumber</td>
                        <td>@patient.BedNumber</td>


                        <td><a asp-controller="Patient" asp-action="UpdatePatient" asp-route-MovieId="@patient.PatientId">Update</a></td>
                        <td><a asp-controller="Patient" asp-action="DeletePatient" asp-route-MovieId="@patient.PatientId">Delete</a></td>
                    </tr>
                 }
            </tbody>
        </table>
    </div>
</div>
}
else
{
   "Error";
}